.introduction{
    text-align: center;
    margin-top: 25%;
    font-family: 'Montserrat Alternates', sans-serif;
}

#line1{
    width: 5px;
    height: 0px;
    background: rgb(0, 0, 0);

    animation: movement1 1s forwards;

    position: relative;
    top: -500px;
    left: 100px
}

@-webkit-keyframes movement1{
    from {height: 0px;}
    to {height: 1000px;}
}

#line2{
    width: 5px;
    height: 0px;
    background: rgb(0, 0, 0);

    animation: movement2 1s forwards;

    position: relative;
    top: -500px;
    left: 110px;
}

@-webkit-keyframes movement2{
    from {height: 0px;}
    to {height: 1000px;}

    from {top: -500px;} 
    to {top: -1500px;}
    
}

.main{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: -20%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    
}

#resume{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:35%;
}

#headshot{
    width: 250px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h4, a{
      float: left;
      margin-right: 3%;
      margin-bottom: 2%;
  }

  a{
      color: rgb(0, 0, 0);
  }

  #email{
      margin-left: 20%;
  }
  #linkedin{
      margin-left: 10%;
  }


#divider1{
    margin-top: 15%;
}

#divider1, #divider2 {
    background: rgb(0, 0, 0);
    animation: createBox 1s;
    width: 100%; 
    height: 5px;
   
}
  @keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

#projects{
    text-align: center;
    margin-top: .5%;
    margin-bottom: .5%;
}

#divider2{
margin-bottom: 5%;
}

#crystal-collector{
   color: rgb(75, 200, 250);
   -webkit-text-stroke: .25px;
   -webkit-text-stroke-color: rgb(0, 140, 255);
   margin-bottom: 15px;
}

.container {
    position: relative;
    text-align: center;
  }

#crystal, #liri{
    z-index: -1;
}
#crystal:hover, #liri:hover{
    opacity: .5;
}
#crystal:hover + #crystal-description, #liri:hover + #liri-description{
    display: block;
}

#crystal-description, #liri-description{
    font-family: 'Montserrat Alternates', sans-serif;
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BUG FIX: Flickering when hovering over crystal-description */
    #crystal-description:hover, #liri-description:hover{
        display: block;
    }

#hover1, #hover2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 8px;
    text-align: center;
}


#crystal-repo, #liri-repo{
    float: right;
}

#divider3{
    background: rgb(0, 0, 0);
    animation: createBox 1s;
    width: 100%; 
    height: 1px;
    margin-top: 3%;
    margin-bottom: 5%;
}

#liri-bot{
    margin-bottom: 15px;
}

